# Requirements for running django-fernet-fields tests

Django>=4.0,<4.3

cryptography~=41.0

tox~=2.0
pytest-django~=4.5
pytest~=7.4
coverage~=7.2

psycopg2~=2.9
psycopg2cffi~=2.9

Sphinx~=7.1

flake8~=6.1
